/* Background */

body{
    background-image: url("/static/media/education-background.png");
    background-size: cover;
} 


/* Layout */

/* Charts */

div.chart-stage.select-stage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

div.chart-stage.chart-background{
    background: rgba(28, 99, 42, 0.3);
}

.chart-stage{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none;
}

.dc-select-menu{
    width: 100%;
}

/*messages*/

div.selected {
    background-color:#1F75CC;
    color:white;
    z-index:100;
}

.messagepop {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 15px;
    margin-left: 15px;
    position:absolute;
    text-align:left;
    width:394px;
    z-index:50;
    padding: 25px 25px 20px;
}

.messagepop p, .messagepop.div {
    border-bottom: 1px solid #EFEFEF;
    margin: 8px 0;
    padding-bottom: 8px;
}
