{% extends "index.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 camp-about">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet eius eum iusto quaerat veniam!
                Amet atque beatae blanditiis,ea error facere fugit,
                hic optio quaerat quam quisquam rem repellat sit.</p>
        </div>

        <div class="col-md-6 camp-mission">
            <h1>Our Mission</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet eius eum iusto quaerat veniam!
                Amet atque beatae blanditiis,ea error facere fugit,
                hic optio quaerat quam quisquam rem repellat sit.</p>
        </div>
    </div>
</div>
{% endblock %}

