<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Yourself Elected</title>
    <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/bootstrap.min.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/keen-dashboards.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>
<body class="application" id="bod">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand" href="./">Get Yourself Elected</a>
       </div>
       <div>
           <ul class="nav navbar-nav">
               <li><a href="#">The Campaign</a></li>
           </ul>
       </div>
   </div>
</div>

</body>
</html>