<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Yourself Elected</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />

</head>
<body class="application" id="bod">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand" href="./">Get Yourself Elected</a>
       </div>
       <div>
           <ul class="nav navbar-nav">
               <li><a href="/campaign">The Campaign</a></li>
               <li><button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">
                   Start Tour!
               </button></li>
           </ul>
       </div>
   </div>
</div>

{% block content %}
<div  id="outer" class="container-fluid">

   <div class="row">

       <!-- single column on small device -->
       <div class="col-sm-12">

           <!-- row 1 -->
           <div class="row">

               <!-- menu select -->
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donation City
                        </div>
                        <div class="chart-stage" data-step="1" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                            <div id="menu-select"></div>
                        </div>
                    </div>
                </div>
                <!-- menu select -->

               <!-- Donations -->
               <div class="col-sm-4">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background">
                           Total Donations in USD
                       </div>
                       <div class="chart-stage metric-background" data-step="2" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                           <div id="total-donations-nd"></div>
                       </div>
                   </div>
                </div>
                <!-- Donations -->

               <div class="col-sm-4">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background">
                           Total Number of Donations
                       </div>
                       <div class="chart-stage metric-background" data-step="3" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                           <div id="number-projects-nd"></div>
                       </div>
                   </div>
                </div>
           </div>
           <!-- row 1 close-->

           <!-- row 2 -->
           <div class="row">

               <!-- Resources -->
               <div class="col-sm-4">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background story-message" id="resource">
                           Resources Type
                       </div>
                       <div id="size-bar-sm" class="chart-stage chart-background" data-step="4" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                           <div class="all-charts" id="resource-type-row-chart"></div>
                           <div class="message-title" id="supplies">
                               <h2>Supplies</h2>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="messagepop pop pop1">
                    <p>This is a message about resources</p>
                    <a class="close-message">Close</a>
                </div>
               <!-- Resources -->

               <!-- Funding Pie -->
               <div class="col-sm-2">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background story-message" id="funding">
                           Funding Status
                       </div>
                       <div class="chart-stage chart-background" data-step="5" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                           <div class="all-charts" id="funding-chart"></div>
                           <div class="message-title" id="expired">
                               <h2>Expired</h2>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="messagepop pop pop2">
                    <p>This is a message about funding</p>
                    <a class="close-message">Close</a>
                </div>
               <!-- Funding Pie -->

               <!-- Metro Pie -->
               <div class="col-sm-2">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background story-message" id="area">
                           Area
                       </div>
                       <div class="chart-stage chart-background" data-step="6" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                           <div class="all-charts" id="metro-chart"></div>
                           <div class="message-title" id="rural">
                               <h2>Rural</h2>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="messagepop pop pop3">
                    <p>This is a message about the area</p>
                    <a class="close-message">Close</a>
                </div>
               <!-- Metro Pie -->

               <!-- Grade Pie -->
               <div class="col-sm-2">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background story-message" id="grade">
                           Grade Range
                       </div>
                       <div class="chart-stage chart-background"  data-step="7" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                           <div class="all-charts" id="grade-level-chart"></div>
                           <div class="message-title" id="grade-6-8">
                               <h2>Grades 6-8</h2>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="messagepop pop pop4">
                    <p>This is a message about grades</p>
                    <a class="close-message">Close</a>
                </div>
               <!-- Grade Pie -->

                <!-- Primary Focus Subject -->
                <div class="col-sm-2">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background story-message" id="subject">
                           Primary Focus Subject
                       </div>
                       <div id="size-pie" class="chart-stage chart-background" data-step="8" data-intro="The description that you want" style="font-weight: normal" data-position="bottom">
                           <div class="all-charts" id="pri-focus-chart"></div>
                            <div class="message-title" id="literacy">
                               <h2>Literacy</h2>
                           </div>
                       </div>
                   </div>
                </div>
                <div class="messagepop pop pop5">
                    <p>This is a message about subjects</p>
                    <a class="close-message">Close</a>
                </div>
                <!-- Primary Focus Subject -->
           </div>
           <!-- row 2 close-->

           <!-- row 3-->
           <div class="row">

                <!-- Time Chart -->
               <div class="col-sm-6">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background story-message" id="year">
                           Number of Donations per Year
                       </div>
                       <div id="size-bar-big" class="chart-stage chart-background" data-step="9" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                           <div class="all-charts" id="time-chart"></div>
                       </div>
                   </div>
               </div>
                <div class="messagepop pop pop6">
                    <p>This is a message about the year</p>
                    <a class="close-message">Close</a>
                </div>
               <!-- Time Chart -->

                <!-- Poverty -->
                <div class="col-sm-6">
                   <div class="chart-wrapper">
                       <div class="chart-title title-background story-message" id="poverty">
                           Poverty Level
                       </div>
                       <div class="chart-stage chart-background" data-step="10" data-intro="The description that you want" style="font-weight: normal" data-position="left">
                           <div class="all-charts" id="poverty-level-row-chart"></div>
                       </div>
                   </div>
                </div>
                <div class="messagepop pop pop7">
                    <p>This is a message about poverty</p>
                    <a class="close-message">Close</a>
                </div>
                <!-- Poverty -->

           </div>
            <!-- row 3 close-->

           </div>
   </div>
</div>

{% endblock %}



<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>

<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
<script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>

</body>
</html>